body {
	margin: 0;
	padding: 0;
	background-color: #ffab91;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #666;
}

a:hover { 
	text-decoration: none;
}

/*This is only needed if image opacity isn't used
  or if another layer color is desired*/
/*.imageLayer {
	background-color: #ffffff;
	opacity: 0.3;
	position: absolute;
	width: 100%;
	height: 1200px;
}*/

.image {
	background-image: url('../assets/images/roses.jpg');
	/*position: absolute;*/
	width: 100%;
	height: 2000px;
    background-size: contain;
	/*visibility: hidden;*/
	overflow: hidden;
    animation-name: move;
    animation-duration: 65s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

.wrapper {
	min-height: calc(100vh - 51px);
	max-width: 1440px;
    min-width: 320px;
    margin: auto;
    position: relative;
}

.imageContainer {
	height: 718px;
	width: 100%;
	/*position: absolute;*/
	overflow: hidden;
}

.header {
	background-color: #FFD2DC;
	/*background-color: #048BA8;*/
	/*background-color: #ffffff;*/
	background: rgba(294, 86, 100, 0.3);
	width: 100%;
	height: 280px;
	position: absolute;
	top: 0;
	/*opacity: 0.5;*/
/*	visibility: hidden;*/
}

video {
	width: 480px;
	height: 270px;
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 90;
	visibility: hidden;
}

/*USE ONLY IF YOU PLAY VIDEO SEPARATELY AT LOAD*/
/*video {
	width: 75%;
	height: auto;
	display: block;
	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 90;
	visibility: hidden;
}*/

/*************** || NAVIGATION || ***************/

nav {
	top: 290px;
	position: absolute;
	border-bottom: 2px solid #fff;
}

.menuBoxes {
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	top: 354px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	border-bottom: 19px solid #ffcc80;
	/*visibility: hidden;*/
}

.menuDetails {
	width: 25%;
	height: 100px;
	margin: auto;
	margin-bottom: 15px;
	line-height: 100px;
	text-align: center;
	background-color: #ffffff;
	background-color: #ffab91;
	background-color: #ffe082;
	background-color: #ffcc80;
	color: #e65100;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
}

div[class^='layer'] {
	position: absolute;
	top: 354px;
	width: 37.6%;
	height: 345px;
	/*height: 370px;*/
	background-color: #ffe082;
	background-color: #ffab91;
	background-color: #ffccbc;
	background-color: #ffcc80;
	z-index: 100;
}

div[class^='menuDetails']:hover {
	background: rgba(294, 86, 100, 0.5);
	color: #fff;
	font-weight: 400;
}

div[class^='box'] {
	position: absolute;
	top: 354px;
	width: 37.6%;
	height: 345px;
	margin: auto;
	background-color: #ffffff;
	opacity: 1;
}

.boxRight, .layerRight {
	right: 0;
}


/*************** || FOOTER || ***************/

footer {
  text-align: center;
  line-height: 50px;
  margin: auto;
  background-color: #ee6e73;
  background-color: #ffab91;
  border-top: 1px solid #fff;
}

.copyright {
  color: #666;
}

/*************** || FAQ SECTION || ***************/


.mainContent {
	top: 366px;
	position: absolute;
	background-color: #fff;
	width: 85%;
	height: 345px;
	left: 0;
	right: 0;
	margin: auto;
    display: flex;
	flex-direction: column;
	justify-content: start;
}

.textContainer {
	width: 85%;
	height: auto;
	margin: auto;
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
	/*position: relative;*/
}

h2 {
	text-align: center;
}

.questions {
	font-size: 1.3rem;
}

/*To do: Responsive design needs:
 	.menuBoxes:height, font size for menu at small screens;
 	#brand: small screens;
 	video: hide at small screens?;
*/


/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 320px) and (max-width: 375px) {

  .header {
  	height: 207px;
  }	
  video {
  	top: -25px;
  }
  nav {
  	top: 220px;
  }
  nav .brand-logo {
	font-size: 1.7rem;
	width: 100%;
	text-align: center;
  }
  .menuBoxes {
  	top: 276px;
  	border-bottom: 65px solid #ffcc80;
  }
  div[class^='box'] {
	top: 276px;
  }
  div[class^='layer'] {
	top: 276px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  video {
    width: 100%;
 }
  .menuDetails {
  	width: 47%;
  }
  div[class^='box'] {
	width: 27%;
  }
  div[class^='layer'] {
	width: 27%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 992px) {
  nav .brand-logo {
	font-size: 2rem;
	width: 100%;
	text-align: center;
  }
}

@media only screen and (min-width: 992px) {
   nav .brand-logo {
	margin-left: 15px;
  }
}



