body {
	margin: 0;
	padding: 0;
	background-color: #ffab91;
	background-color: #fff3e0;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #666;
}

a:hover { 
	text-decoration: none;
}

/*This is only needed if image opacity isn't used
  or if another layer color is desired*/
/*.imageLayer {
	background-color: #ffffff;
	opacity: 0.3;
	position: absolute;
	width: 100%;
	height: 1200px;
}*/

.image {
	background-image: url('../assets/images/collage.jpg');
	width: 100%;
	height: 2000px;
    background-size: contain;
	/*visibility: hidden;*/
	overflow: hidden;
    animation-name: move;
    animation-duration: 65s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move {
  from { transform: translateY(-50%); }
  to { transform: translateY(0); }
}

.wrapper {
	min-height: calc(100vh - 51px);
	max-width: 1440px;
    min-width: 320px;
    margin: auto;
    position: relative;
}

.imageContainer {
	height: 697px;
	width: 100%;
	overflow: hidden;
}

.header {
	background: rgba(294, 86, 100, 0.3);
	width: 100%;
	height: 280px;
	position: absolute;
	top: 0;
	/*opacity: 0.5;*/
/*	visibility: hidden;*/
}

video {
	width: 480px;
	height: 270px;
	display: block;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 90;
	visibility: hidden;
}

/*USE ONLY IF YOU PLAY VIDEO SEPARATELY AT LOAD*/
/*video {
	width: 75%;
	height: auto;
	display: block;
	position: absolute;
	top: 5%;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 90;
	visibility: hidden;
}*/

/*************** || NAVIGATION || ***************/

nav {
	top: 290px;
	position: absolute;
	border-bottom: 2px solid #ef9a9a;
	border-bottom: 4px solid #ffebee;
	border-bottom: 4px solid #fff;
	background-color: #ffebee;
	background-color: #fff;
	background-color: #fff3e0;
	background-color: #e0f2f1;
}

nav .brand-logo {
	color: #80cbc4;
}

nav a {
	color: #80cbc4;
}

.nav-wrapper a {
	color: #80cbc4;
}

ul#mobile-demo.sidenav {
	background-color: #fff3e0;
	border-right: 3px solid rgba(294, 86, 100, 0.3);
}

/*************** || HOME MAIN CONTENT || ***************/

.menuBoxes {
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	top: 354px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	/*visibility: hidden;*/
}

.menuDetails {
	width: 25%;
	height: 100px;
	margin: auto;
	margin-bottom: 15px;
	line-height: 100px;
	text-align: center;
	background-color: #ffcc80;
	background-color: #e0f2f1;
	background-color: #fbe9e7;
	background-color: #fff3e0;
	color: #e65100;
	color: #e57373;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.5rem;
}

div[class^='menuDetails']:hover {
	background: rgba(294, 86, 100, 0.3);
	color: #fff;
	font-weight: 400;
	transition: 0.25s;
}

div[class^='box'] {
	position: absolute;
	top: 354px;
	width: 37.6%;
	height: 345px;
	margin: auto;
	background-color: #fff3e0;
}

.boxRight {
	right: 0;
}


/*************** || FOOTER || ***************/

footer {
  text-align: center;
  line-height: 50px;
  margin: auto;
  margin-top: 50px;
  background-color: #ffab91;
  background-color: #fbe9e7;
  background-color: #e0f2f1;
  border-top: 1px solid #fff;
}

.copyright {
  color: #666;
}

/*************** || FAQ SECTION || ***************/


.mainContent {
	top: 354px;
	position: absolute;
	background-color: #fff3e0;
	width: 100%;
	/*height: 345px;*/
	left: 0;
	right: 0;
	margin: auto;
    display: flex;
	flex-direction: column;
	justify-content: start;
}

.textContainer {
	width: 70%;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	height: auto;
	margin: auto;
	font-family: 'Lato', sans-serif;
	background: rgba(294, 86, 100, 0.1);
}

h2 {
	text-align: center;
}

.questions, .answers {
	font-size: 1.3rem;
	width: 65%;
	margin: auto;
	padding-bottom: 20px;
}

.questions p:hover {
	color: #fff;
	background: rgba(294, 86, 100, 0.3);
	transition: 0.25s;
	margin-left: 5px;
	cursor: pointer;
}

.bullet {
	padding-left: 5px;
}

.answers {
	border-top: 2px solid #fff;
	padding-top: 20px;
	height: 1000px;
}
/*To do: Responsive design needs:
 	.menuBoxes:height, font size for menu at small screens;
 	#brand: small screens;
 	video: hide at small screens?;
*/


/*************** || RESPONSIVE DESIGN || ***************/

@media only screen and (min-width: 320px) and (max-width: 375px) {

  .header {
  	height: 207px;
  }	
  video {
  	top: -25px;
  }
  nav {
  	top: 220px;
  }
  nav .brand-logo {
	font-size: 1.7rem;
	width: 100%;
	text-align: center;
  }
  .menuBoxes {
  	top: 276px;
  }
  div[class^='box'] {
	top: 276px;
  }
  .imageContainer {
	height: 620px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  video {
    width: 100%;
 }
  .menuDetails {
  	width: 47%;
  }
  div[class^='box'] {
	width: 27%;
  }
  .textContainer {
  	width: 90%;
  }
  .questions, .answers {
  	width: 85%;
  }
}

@media only screen and (min-width: 375px) and (max-width: 992px) {
  nav .brand-logo {
	font-size: 2rem;
	width: 100%;
	text-align: center;
  }
}

@media only screen and (min-width: 992px) {
   nav .brand-logo {
	margin-left: 15px;
  }
}



